<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team-Name-Generator</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script type='text/javascript'>
    window.onload = (event) => {
        let surveyLinks = [
            "https://reg.qualtrics.com/jfe/form/SV_bluTO0LgGsBcNLw",
            "https://reg.qualtrics.com/jfe/form/SV_bjRTYcnA2Vk9Kpo",
            "https://reg.qualtrics.com/jfe/form/SV_bjRTYcnA2Vk9Kpo"
        ]

        document.getElementById("employeeTeamName_en").innerText = <%- JSON.stringify(followerName) %>
        document.getElementById("URL_en").innerText = surveyLinks[<%= condition %>]

    }
    function goToLastPage(){
        let data = {
          "followerName": <%-JSON.stringify(followerName) %>,
          "condition": <%= condition %>
        };

        window.location.replace("/final/" + data.condition + "/" + data.followerName+"/de")
    }
    function goToMain(){
        let data = {
          "followerName": <%-JSON.stringify(followerName) %>,
          "condition": <%= condition %>
        };

        window.location.replace("/main/" + data.condition + "/" + data.followerName+"/de")
    }
    </script>
</head>
<body><h1> Team-Name-Generator (2/3) </h1>

  <div id="main">
  <!--
  <div id="topThird">
  <div id="instructionsLeftPad">
  </div>
  -->
  <div id="instructions">
<p id="leaderTeamInstructions" class="text">Unten finden Sie den Text, mit dem Sie Ihre Mitarbeiter zur Teilnahme an dem Experiment einladen können.
<br><br>
Bitte kopieren Sie den Text und senden Sie ihn an Ihre Mitarbeiter, um sie zur Teilnahme einzuladen.
<br><br>
Wenn Sie fertig sind, klicken Sie am Ende der Seite auf "Weiter", um weitere Anweisungen zu erhalten.
</p>
</div>

<div class="template" id="template_en">
<h3 class='template-header'> Vorlage: </h3>
<p id="templateText_en">
<i>
Hallo,
<br><br>
Ich freue mich, eine neue Initiative zur Verbesserung der Effektivität, der psychologischen Sicherheit und des Arbeitsklimas in unserem Team ankündigen zu können. Ab dieser Woche werden wir alle etwa 10-20 Minuten unseres Arbeitstages dafür verwenden, die Qualität unserer Ziele und unseres Arbeitsumfelds zu verbessern.
<br><br>
Dieses Programm beinhaltet die tägliche Interaktion mit einem Chatbot über die Anwendung Telegram. Ich erwarte und ermutige alle, den Chatbot jeden Tag zu nutzen, um sich morgens Ziele für den Tag zu setzen und abends über ihre Fortschritte bei der Erreichung dieser Ziele zu berichten.
<br><br>
Das Programm, an dem auch ich teilnehmen werde, erstreckt sich über einen Zeitraum von drei Wochen. Im Laufe der drei Wochen werden wir außerdem 5 Umfragen durchführen, die jeweils nicht länger als 20-25 Minuten dauern.
<br><br>
Die Teilnahme an dieser Initiative ist eine lohnende Investition, denn sie kann dem Team und jedem Einzelnen von uns Vorteile bringen, indem sie uns hilft, bessere Ziele zu setzen, die mit dem übereinstimmen, was uns am wichtigsten ist, und indem sie die Qualität unserer zwischenmenschlichen Beziehungen am Arbeitsplatz verbessert.
<br><br>
Der Name unseres Teams, den Sie dem Chatbot mitteilen müssen, wenn er Sie danach fragt, lautet: <span class="team-name-text" id="employeeTeamName_en"> </span>.
<br><br>
Folgen Sie diesem Link, um die Anweisungen zur Teilnahme am Weiterbildungsprogramm zu erhalten: <span class="url" id="URL_en"> </span>
</i>
</p>
</div>
</div>
</div>
<div id="continueDiv">
<p id="continue"> Klicken Sie auf "Weiter", um mit den letzten Anweisungen fortzufahren</p>
<input type="button" class="navigate-button" onclick='goToMain()' value="<-- Zurück"> </input>
<input type="button" class="navigate-button" onclick='goToLastPage()' value="Weiter -->"> </input>
</div>
</body>
</html>